#tabla-tareas {
    width: 20%;
    border-collapse: collapse;
  }
  
  #tabla-tareas th,
  #tabla-tareas td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #tabla-tareas th {
    background-color: #f2f2f2;
  }
  